* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  background: #333;
  color: #ccc;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

.section{
  padding: 22px;
}