* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --global-padding: 22px;
}

@media (max-width: 600px) {
  :root {
    --global-padding: 14px;
  }
}

html{
  background: #333;
  color: #ccc;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

.section{
  padding: var(--global-padding);
}