* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --global-padding: 22px;
}

@media (max-width: 600px) {
  :root {
    --global-padding: 14px;
  }
}

html{
  background: #333;
  color: #ccc;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  /* background: repeating-linear-gradient(
    135deg,     
    #333 0,
    #333 10px,
    #444 10px,
    #444 20px
  ); */
}

.section{
  padding: var(--global-padding);
}